In [ ]:
Q28. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"

In [1]:
string = "Big Data iNeuron"
print(string[9:])

iNeuron

In [ ]:
Q29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"

In [2]:
string = "Big Data iNeuron"
# desired_output = "norueNi"

print(string[-1:-8:-1])

norueNi

In [ ]:
Q30. Resverse the string given in the above question.

In [3]:
#reverse the string

string = "Big Data iNeuron"
print(string[::-1])

norueNi ataD giB

In [ ]:
Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [4]:
#'iNeuron's Big Data Course'

print('iNeuron\'s Big Data Course')

iNeuron's Big Data Course

In [ ]:
Q37. Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [5]:
# to access the word iNeuron
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

In [ ]:
Q38. Take a list as an input from the user and find the length of the list.

In [6]:
# Take a list as an input from the user and find the length of the list.

lst=[]
n=int(input("Enter number of elements: "))
for i in range(0,n):
    elements=input()
    lst.append(elements)
print(lst)

print("number of elements in the list are : ",len(lst))

Enter number of elements:  4
 gh
 jh
 gh
 kl

['gh', 'jh', 'gh', 'kl']
number of elements in the list are :  4

In [ ]:
Q39. Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]

In [7]:
 # Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,"big")
print(lst)

['Welcome', 'to', 'big', 'Data', 'course']

In [ ]:
Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [8]:
#appending two tuples

my_tup1 = (1, 4, 5, 7, 8)
my_tup2 = (3, 4, 8, 9, 0)

new_tup = my_tup1 + my_tup2
print(new_tup)

(1, 4, 5, 7, 8, 3, 4, 8, 9, 0)

In [ ]:
Q44. Take a tuple as an input and print the count of elements in it.

In [9]:
my_tup = tuple(input("enter inputs ").split())
print(my_tup)
print(len(my_tup))

enter inputs  5

('5',)
1

In [ ]:
Q47. Create a set and add "iNeuron" in your set.

In [10]:
my_set=set()
my_set.add("iNeuron")
print(my_set)

{'iNeuron'}

In [ ]:
Q48. Try to add multiple values using add() function.

In [11]:
mysets=set()
mysets.add(1)
mysets.add("iNeuron")
mysets.add("bigdata")
mysets.add(43)
mysets.add("hello")
print(mysets)

{1, 'bigdata', 'iNeuron', 43, 'hello'}

In [ ]:
Q53. What is union() in sets? Explain via code.

In [12]:
#union of two sets;

set_a = {1, 3, 6, 8, 9, 4, 5, 7}
set_b = {3, 7, 9, 5, 0, 66, 9, 9}

result = set_a|set_b
print("The union of set_a and set_b is: ", result)

The union of set_a and set_b is:  {0, 1, 66, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
Q54. What is intersection() in sets? Explain via code.

In [13]:
# intersection in sets:
set_a = {1, 3, 6, 8, 9, 4, 5, 7}
set_b = {3, 7, 9, 5, 0, 66, 9, 9}

result = set_a & set_b
print("The result of intersection is : ", result)

The result of intersection is :  {9, 3, 5, 7}

In [ ]:
Q58. What will the output of the following?

var = {}
print(type(var))

In [14]:
var = {}
print(type(var))

<class 'dict'>

In [ ]:
Q60. Create a dictionary and access all the values in that dictionary.

In [15]:
#Create a dictionary and access all the values in that dictionary.

dict_1={}
dict_1["Name"]= "Nikhil"
dict_1["Age"]=24
dict_1["state"]="HP"
dict_1["country"]="India"

print(dict_1["Name"])
print(dict_1["Age"])
print(dict_1["state"])
print(dict_1["country"])

Nikhil
24
HP
India

In [ ]:
Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [16]:
 # Create a nested dictionary and access all the element in the inner dictionary.

dict_1 = {}
dict_1['name'] = 'nikhil'
dict_1['age'] = 28
dict_1['designation'] = 'engineer'
dict_1['other details'] = {'state' : 'hp', 'nationality' : 'Indian'}

print(dict_1)
print(dict_1['name'])
print(dict_1['other details']['nationality'])

{'name': 'nikhil', 'age': 28, 'designation': 'engineer', 'other details': {'state': 'hp', 'nationality': 'Indian'}}
nikhil
Indian

In [ ]:
Q76. Write a Python program to find the factorial of a given number.

In [17]:
#factorial of a number:

def factorial(num):
    if num==1 or num==0:
        return 1
    else:
        return (num*factorial(num-1))

num=int(input("enter the number : "))
print("the factorial of the number is: ",factorial(num))

enter the number :  4

the factorial of the number is:  24

In [ ]:
Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [18]:
# To calculate simple interest

p=int(input("Enter the principle amount: "))
r=int(input("Enter the rate of interest: "))
t=int(input("Enter the time period: "))

si=(p*r*t)/100
print("The Simple Interest is= ", si)

Enter the principle amount:  56
Enter the rate of interest:  67
Enter the time period:  78

The Simple Interest is=  2926.56

In [ ]:
Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [19]:
#Compound Interest

p=int(input("Enter the principle amount: "))
r=int(input("Enter the rate of interest: "))
t=int(input("Enter the time period: "))

ci=p*((1+r/100)**t)
print("The Compound Interest comes out to be = ", ci)

Enter the principle amount:  1000
Enter the rate of interest:  5
Enter the time period:  2

The Compound Interest comes out to be =  1102.5

In [ ]:
Q79. Write a Python program to check if a number is prime or not.

In [20]:
# To check prime number

num=int(input("Enter the number to be checked: "))
for i in range(2,num):
    if num%i==0:
        print("NOT A PRIME NUMBER")
        break
else:
    print("PRIME NUMBER")

Enter the number to be checked:  11

PRIME NUMBER

In [ ]:
Q80. Write a Python program to check Armstrong Number.

In [21]:
#To check Armstrong number

num=int(input("enter number"))
sum=0
new_num=num
n=len(str(num))

while num>0:
    m=num%10
    sum += m**n
    num=num//10

if sum==new_num:
    print("YES")
else:
    print("NO")

enter number 23

NO

In [ ]:
Q81. Write a Python program to find the n-th Fibonacci Number.

In [ ]:

# Fibonacci Series:
def fibonacci(n):
    if n==1 or n==0:
        return 1
    else:
        return (fibonacci(n-1)+fibonacci(n-2))

n=int(input("Enter the number: "))
print(fibonacci(n))

Enter the number:  123

In [ ]:
Q82. Write a Python program to interchange the first and last element in a list.

In [ ]:
# interchanging elements

lst = [1, 3, 4, 6, 8, 9]
lst[0], lst[-1] = lst[-1], lst[0]

print("New list afte interchanging elements is: ", lst)

In [ ]:
Q83. Write a Python program to swap two elements in a list.

In [ ]:
# swap elements

l = [1, 5, 7, 3, 4, 7, 9]
temp = l[1]
l[1] = l[4]
l[4] = temp

print("list after swapping: ", l)

In [ ]:
Q84. Write a Python program to find N largest element from a list.

In [ ]:
#finding largest element

l = []
n = int(input("Enter length of list: "))
for i in range(0, n+1):
    e=int(input("Enter the elements: "))
    l.append(e)
print(l)
print("Largest element in the list is", max(l))

In [ ]:
Q85. Write a Python program to find cumulative sum of a list.

In [ ]:
#cumulative sum of a list

lst = [23, 56, 45, 99, 76]
m=0
for i in lst:
    m=m+i
print("The cumulative sum of the list is = ", m)

In [ ]:
Q86. Write a Python program to check if a string is palindrome or not.

In [ ]:
#Palindrome String

str = input("Enter a string: ")
str1 = str[-1::-1]

if str==str1:
    print("YES! it is a palindrome")
else:
    print("NO it is not a palindrome")

In [ ]:
Q87. Write a Python program to remove i'th element from a string.

In [ ]:
str=input("Enter string: ")
n=int(input("enter the ith number: "))

a=str[0:n-1]
b=str[n:]

print("The output is= ", a+b)

In [ ]:
Q88. Write a Python program to check if a substring is present in a given string.

In [ ]:
# to find sub-string

str=input("Enter string: ")
sub_str=input("Enter sub-dtring: ")

if sub_str in str:
    print("yes it is PRESENT")
else:
    print("no NOT present")

In [ ]:
Q89. Write a Python program to find words which are greater than given length k.

In [ ]:
str=["world", "is", "a", "beautiful", "place"]
k=int(input())
for i in str:
    if len(i)>k:
       print(i)

In [ ]:
Q90. Write a Python program to extract unquire dictionary values.

In [ ]:
# Write a Python program to extract unquire dictionary values.

dict = {1:"Nikhil", 2:"Akshit", 3:"Sharma", 4:"Akshit", 5:"Abhishek"}
print(set(dict.values()))

In [ ]:
Q91. Write a Python program to merge two dictionary.

In [ ]:
# Write a Python program to merge two dictionary.

dict_1 = {1: "Hello", 2:"Nikhil", 3:"Sharma"}
dict_2 = {"a": 24, "b": "24nov"}

print(dict_1|dict_2)

In [ ]:
Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [ ]:
# Python program to convert a list of tuples into dictionary.

Input = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
output=(dict(Input))
print("Converted outcome: ", output)

In [ ]:
Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]

In [ ]:
# Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

lst = [9, 5, 6]
b=[]
for v in lst:
    n=(v,(v**3))
    b.append(n)
print(b)

In [ ]:
Q94. Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [ ]:
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)

result = [(x,y) for x in test_tuple1 for y in test_tuple2]
result = result+[(x,y) for x in test_tuple2 for y in test_tuple1]
print(result)

In [ ]:
Q95. Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [ ]:
# Write a Python program to sort a list of tuples by second item.

lst = [('for', 24), ('Geeks', 8), ('Geeks', 30)]
lst.sort(key=lambda a:a[1])
print(lst)

In [ ]:
Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * *

In [ ]:
n=5
for i in range(0,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print("")

In [ ]:
Q97. Write a python program to print below pattern.

    *
   **
  ***
 ****
*****

In [ ]:
n=5
for i in range(n):
    for j in range(1,n-i):
        print(" ", end=" ")
    for k in range(0, i+1):
        print("*", end=" ")
    print()

In [ ]:
Q98. Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ", end=" ")
    for k in range(2*i-1):
        print("*", end=" ")
    print()

In [ ]:
Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5